
.js{width:90%; margin:10px auto 0 auto; }
.js p{ padding:5px 0; font-weight:bold; overflow:hidden;  }
.js p span{ float:right; }
.js p span a{ color:#f00; text-decoration:underline;   }
.js textarea{ height:100px;  width:98%; padding:5px; border:1px solid #ccc; border-top:2px solid #aaa;  border-left:2px solid #aaa;  }

#wrapper{width: 100%;height: 17306px;background: #fff;}
#wrapper .wrapper-section{position: relative;width: 100%;min-width: 1200px;padding: 20px 0;box-sizing: border-box;}    
#wrapper .wrapper-section >div{margin-left: auto;margin-right: auto;position: relative;max-width: 1200px;min-width: 1200px;}    
#wrapper .wrapper-section div ul{display: flex;-webkit-box-pack: start;justify-content: flex-start;text-transform: capitalize;font-size: 12px;}    
#wrapper .wrapper-section div ul li a{color: #707473;padding-left: 5px;}    
#wrapper .wrapper-section div ul li a:after{content: "/"; color: #ddd;padding-left: 5px;}    





.product-main{width: 1200px;height: 1510px;/*background: skyblue;*/ display: block;margin-left: auto;margin-right: auto;padding-bottom: 40px;margin-bottom: 80px;}
.product-main .product-container{display: flex;-webkit-box-pack: justify;justify-content: space-between;}

/*左边*/
.product-main .product-container .picFocus{width:595px;height: 500px;padding:5px;  position:relative;  overflow:hidden;  zoom:1;  float: left; }
.product-main .product-container .picFocus .hd{ width:100%; padding-top:5px;  overflow:hidden; }
.product-main .product-container .picFocus .hd ul{ margin-right:-5px;  overflow:hidden; zoom:1; }
.product-main .product-container .picFocus .hd ul li{ padding-top:5px; float:left;  text-align:center; padding-left: 3%; }
.product-main .product-container .picFocus .hd ul li img{ width:53px; height:35px; border:1px solid #ddd; cursor:pointer; margin-right:5px;   }
.product-main .product-container .picFocus .hd ul li.on{ background:url("images/icoUp.gif") no-repeat center 0; }
.product-main .product-container .picFocus .hd ul li.on img{ border-color:rgb(68, 168, 242); }
.product-main .product-container .picFocus .bd li{ vertical-align:middle; }
.product-main .product-container .picFocus .bd img{ width:595px; height:450px; display:block;  }


/*右边*/
.product-main .product-container .info-container{float: right;width:495px;height: 1510px;}
.product-main .product-container .info-container .info-section:first-child{padding-top: 0;border-top: none;}
.product-main .product-container .info-container .info-section{padding: 30px 0;border-top: 1px solid #eee;}
/*第一块*/
.product-main .product-container .info-container .info-section h1{line-height: 1.2;color: #333;font-size: 30px;font-weight: 400;}    
.product-main .product-container .info-container .info-section .price{margin-top: 20px;}
.product-main .product-container .info-container .info-section .price p{display: flex;line-height: 1;color: #333;font-size: 26px;}    
.product-main .product-container .info-container .info-section .price div{margin-top: 20px;font-size: 14px;display: flex;}
.product-main .product-container .info-container .info-section .price div span{padding-right: 2px;color: #979797;}
.product-main .product-container .info-container .info-section .price div b{color: #333;}
.product-main .product-container .info-container .info-section .price a{display: flex;margin-left: 10px;color: #44a8f2;} 
.product-main .product-container .info-container .info-section .price a div:before{content: "";background:url(../images/27.svg) no-repeat;flex: left;width: 24px;height: 24px;margin-right: 3px;}    
/*第二块*/
.product-main .product-container .info-container .info-section .content{height: 47px;}   
.product-main .product-container .info-container .info-section .content p{font-size: 16px;line-height: 1.5em;color: #333;}

.product-main .product-container .info-container .info-section .specs{ height: 184px;margin-top:30px;}
.product-main .product-container .info-container .info-section .specs ul{display: flex;flex-wrap: wrap ;flex-basis: 0;}
.product-main .product-container .info-container .info-section .specs ul li:nth-child(-n+2){margin-top: 0;}
.product-main .product-container .info-container .info-section .specs ul li{margin-top: 20px;-webkit-box-flex: 0;flex-grow: 0;display: flex;width: 50%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon{width: 60px;height: 48px;margin: 0 10px;line-height: 48px;text-align: center; align-self: center;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic1{background: url(../images/shop1.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic2{background: url(../images/shop2.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic3{background: url(../images/shop3.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic4{background: url(../images/shop4.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic5{background: url(../images/shop5.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}
.product-main .product-container .info-container .info-section .specs ul li .spec-icon .pic6{background: url(../images/shop6.png) no-repeat;width: 48px;height: 48px;display: inline-block;background-position: 50%;background-size: 90% 90%;}

.product-main .product-container .info-container .info-section .specs ul li .spec-info{width: 78px; display: flex;-webkit-box-orient: vertical;-webkit-box-direction: normal; flex-direction: column;justify-content: space-around;}
.product-main .product-container .info-container .info-section .specs ul li .spec-info p{font-size: 12px;margin-bottom: 5px;color: #707473;line-height: 1em;}    
.product-main .product-container .info-container .info-section .specs ul li .spec-info .values{display: flex;-webkit-box-align: end;align-items: flex-end;font-size: 18px;font-weight: 300;line-height: 1;color: #333;}   
.product-main .product-container .info-container .info-section .specs ul li .spec-info .values span{margin-right: 5px;}
.product-main .product-container .info-container .info-section .specs ul li .spec-info .values b{font-weight:300;text-transform: uppercase;}  
.product-main .product-container .info-container .info-section .specs ul li .spec-info .values b sup{font-size: 12px;color: #979797;margin-left: 5px;top: -.5em;line-height: 0;position: relative;}

/*第三块*/
.product-main .product-container .info-container .info-section ul li h3{font-size: 26px;color: #333;margin:10px 0;}
.product-main .product-container .info-container .info-section ul li ul{height: 160px; display: flex;flex-wrap: wrap;margin-top:20px;}
.product-main .product-container .info-container .info-section ul li ul li{max-width: calc((100% - 30px) / 3);-webkit-box-flex: 1;flex-grow: 1;/* box-shadow: 0 0 4px rgba(0,0,0,.1);*/  flex: 1 1 150px;display: inline-block;margin: 0 15px 15px 0;}
.product-main .product-container .info-container .info-section ul li ul li .checkable{display: block;font-size: 16px;color: #333;cursor: pointer;}
.product-main .product-container .info-container .info-section ul li ul li .checkable>input[type=radio]{display: none;box-sizing: border-box;padding: 20px;border: 1px solid #ccc;width: 24px;height: 24px;background: #fff;outline: none;-webkit-appearance: none; vertical-align: text-bottom;border-radius: 100%;}
.product-main .product-container .info-container .info-section ul li ul li .checkable>input[type=radio]:before{content: ""; display: block; width: 100%; height: 100%; background-color: #44a8f2;transform: scale(.7);border-radius: 100%;}
.product-main .product-container .info-container .info-section ul li ul li .checkable>input[type=radio]:checked+*{padding: 19px;border-width: 2px;border-color: rgba(68,168,242,.5);background: rgba(68,168,242,.1);}
.product-main .product-container .info-container .info-section ul li ul li .checkable>input[type=radio]+*{padding: 20px;border: 1px solid #ddd;box-sizing: border-box;border-radius: 2px;}

.product-main .product-container .info-container .info-section ul li ul li .checkable div i{vertical-align: middle;border: 1px solid #ddd;display: inline-block;width: 16px;height: 16px;border-radius: 50%;margin-right: 10px;}
.product-main .product-container .info-container .info-section ul li ul li .checkable div i:bofoer{content: "";box-sizing: border-box;width: 100%;display: block;height: 100%;vertical-align: middle;border-radius: 50%;}


/*第四块*/


.product-main .product-container .info-container .info-section .group{margin-bottom: 40px;}
.product-main .product-container .info-container .info-section .group h3{font-size: 26px;font-weight: 300;text-transform: capitalize;color: #333;}    
.product-main .product-container .info-container .info-section .group ul{margin-top: 20px;height: 335px;}    
.product-main .product-container .info-container .info-section .group ul li{box-shadow: 0 0 4px rgba(0,0,0,.1);height: 101px;}
.product-main .product-container .info-container .info-section .group ul>li+li{margin-top: 15px;}
.product-main .product-container .info-container .info-section .group ul li .checkable{ display: block;font-size: 16px;color: #333;user-select: none;}    
.product-main .product-container .info-container .info-section .group ul li .checkable>input[type=radio]{display: none;box-sizing: border-box;padding: 20px;border: 1px solid #ccc;border-radius: 100%;width: 24px;height: 24px;background: #fff;outline: none;-webkit-appearance: none;vertical-align: text-bottom;}






section{width: 100%;height: 428px;background: #f7f8f9;font-size: 16px;color: #333;font-weight: 300;padding: 40px 0;box-sizing: border-box;}






















