section{width: 100%;height: 500px;margin-bottom: 40px;position: relative;}
section .cover-image{height: 100%;width: 100%;background: url(../images/shop1.jpg) no-repeat center;background-size: cover;}
section .content{position: absolute;top: 45%;text-align: center;left: 50%;transform:translate3d(-50%,0,0);}
section .content h1{color: #fff;font-size: 40px;width: 875px;height: 43px;text-transform: uppercase;}



#Wrapper-section{position: relative;width: 1200px;height: 379px; font-size: 16px;color: #333;font-weight: 300;margin: 40px auto;box-sizing: border-box; }
#Wrapper-section div h2{font-size: 26px;line-height: 34px;margin-bottom: 15px;font-weight: 300;}
#Wrapper-section .section-container{width: 1200px;height: 330px;}
#Wrapper-section .section-container .container{background: #fff;box-shadow: 0 0 4px rgba(0,0,0,.1);margin: 0;height: 330px;width: 595px;position: relative;transition: all .3s ease;display: inline-block;vertical-align: bottom;}
#Wrapper-section .section-container .container .product-img{width: 50%;height: 100%;float: left;}
#Wrapper-section .section-container .container:hover{transition: all 0.5s ease 0.1s;box-shadow: 0px 10px 20px 0px #e0e0e0;}
#Wrapper-section .section-container .container .product-img img{width: 280px;height: 280px;margin:25px 10px;}
#Wrapper-section .section-container .container .product-box{width: 50%;height: 100%;float: right;}
#Wrapper-section .section-container .container .product-box .product-box-inner{width: 240px;height: 330px;margin:30px 0px;display: table-cell;vertical-align: middle;}
#Wrapper-section .section-container .container .product-box .product-box-inner h4{font-size: 26px;font-weight: 400;margin-bottom: 10px;}
#Wrapper-section .section-container .container .product-box .product-box-inner p{font-size: 16px;margin-bottom: 20px;font-weight: 200;line-height: 1.4;}
#Wrapper-section .section-container .container .product-box .product-box-inner span{font-weight: 400;color: #44a8f2;}















